<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue</title>
  <style>
    .box {
      padding: 50px 0;
      font-size: 2rem;
      width: 400px;
      text-align: center;
      background-color: royalblue;
      margin: 20px;
      display: inline-block;
      color: white;
    }
  </style>
</head>
<body>
  <div id="app">
    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>

    <div v-if="showBooks">
      <h2>{{ title }}</h2>
      <h3>Authored by: {{ author }}</h3>
      <p>Rating: {{ rating }}/10</p>
    </div>

    <div class="box" @mouseover="handleEvent($event, 'this is the value')">mouseover</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">doubleclick</div>
    <div class="box" @mousemove="handleMousemove">X:{{ x }} Y:{{ y }}</div>

    <ul>
      <li v-for="user in users">
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
      </li>
    </ul>
  </div>
  <script src="./app.js"></script>
</body>
</html>