<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="./styles.css">
  <title>Vue</title>
</head>
<body>
  <div id="app">
    <button @click="toggleShowBooks" class="btn">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>

    <div>
      <a v-bind:href="url" target="_blank" ref="noopener noreferrer">Click me</a>
    </div>

    <div v-show="showBooks">
      <ul class="books-list">
        <li v-for="book in books">
          <h3>{{ book.name }}</h3>
          <p>Authored by: {{ book.author }}</p>
        </li>
      </ul>
    </div>
  </div>
  <script src="app.js" type="module"></script>
</body>
</html>